<style>
  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
</style>

<div class="container mt-5">
  <%= form_with(model: user) do |form| %>
    <div class="form-group">
      <%= form.label :name, 'Nome' %>
      <%= form.text_field :name, class: 'form-control', placeholder:'Digite o nome do convidado', required:true %>
    </div>

    <div class="form-group">
      <%= form.label :phone, 'Telefone' %>
      <%= form.number_field :phone, class: 'form-control', placeholder:'Digite o telefone com DDD', required:true %>
    </div>

    <div class="form-group">
      <%= form.label :tamanho_fralda, 'Tamanho da Fralda' %>
      <%= form.select :tamanho_fralda, ['M', 'G'], { prompt: 'Selecione um tamanho' }, class: 'form-control', required:true %>
    </div>

    <div class="form-group">
      <%= form.label :responsavel, 'Anfitrião' %>
      <%= form.select :responsavel, ['Ériko', 'Nayara', 'Ambos'], { prompt: 'Selecione de quem é o convidado' }, class: 'form-control', required:true %>
    </div>

    <% if params[:action] == 'edit' || params[:action] == 'update' %>
      <div class="mb-3 form-group">
        <%= form.label :qtd_guest, "Quantidade de convidados (acima de 5 anos)", class: "form-label" %>
        <%= form.number_field :qtd_guest, class: "form-control", placeholder:"Quantas pessoas incluindo o convidado?", required:true %>
      </div>

      <div class="mb-3 form-group">
        <%= form.label :token, "Token", class: "form-label" %>
        <%= form.text_field :token, class: "form-control", required:true %>
      </div>
    <% end %>

    <div class="form-group">
      <div class="form-check">
        <%= form.check_box :confirmed, class: 'form-check-input', checked: user.confirmed ? true : false %>
        <%= form.label :confirmed, 'Confirmado', class: 'form-check-label mr-2' %>
      </div>

      <div class="form-check">
        <%= form.check_box :will_not, class: 'form-check-input', checked: user.answered == '2' ? true : false %>
        <%= form.label 'Não vai', class: 'form-check-label' %>
      </div>
    </div>

    <div class="form-group text-center">
      <%= form.submit action(params[:action]), class: 'btn btn-primary', data: { disable_with: "Criando..." } %>
      |
      <%= link_to 'Cancelar', users_path, class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');

    checkboxes.forEach(function(checkbox) {
      checkbox.addEventListener('change', function() {
        checkboxes.forEach(function(otherCheckbox) {
          if (otherCheckbox !== checkbox) {
            otherCheckbox.checked = false;
          }
        });
      });
    });
  });
</script>