<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card bg-light mb-3">
        <div class="card-body">
          <h4 class="card-title">
            <i class="fas fa-users"></i> Cadastrados / Previsão
          </h4>
          <h3 class="card-text"><%= @users.all.count %> / <%= @users.where.not(answered: 2).sum(:qtd_expected) rescue nil %></h3>
        </div>
      </div>
      <div class="card bg-light mb-3">
        <div class="card-body">
          <h4 class="card-title">
            <i class="fas fa-check-double"></i> Confirmações
          </h4>
          <h3 class="card-text"><%= @users.where(confirmed: true).sum(:qtd_guest) rescue nil %></h3>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-light mb-3">
        <div class="card-body">
          <h4 class="card-title">
            <i class="fas fa-question"></i> Não Confirmações / Por Cadastro
          </h4>
          <h3 class="card-text"><%= @users.where(confirmed: false, answered: '0').sum(:qtd_expected) rescue nil %> / <%= @users.where(confirmed: false, answered: '0').count rescue nil %></h3></h3>
        </div>
      </div>
      <div class="card bg-light mb-3">
        <div class="card-body">
          <h4 class="card-title">
            <i class="fas fa-users-slash"></i> Desistências / Por Cadastro
          </h4>
          <h3 class="card-text"><%= @users.where(confirmed: false, answered: '2').sum(:qtd_expected) rescue nil %> / <%= @users.where(confirmed: false, answered: '2').count rescue nil %></h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col d-flex justify-content-end text-right">
      <%= link_to new_user_path, class: 'btn btn-success' do %>
        <i class="fa fa-plus"></i> Criar Convidado
      <% end %>
    </div>
  </div>

  <% if @users.any? %>
    <table class="table table-bordered table-hover mt-4">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th style="text-align:center;">
           Qtd <i class="fas fa-users" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Quantidade de convidados por pessoa"></i>
          </th>
          <th>Contato</th>
          <th>Confirmou Presença?</th>
          <th style="text-align:center;">
            <i class="fas fa-baby" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="<%= quantity_diapers(@users) %>"></i>
          </th>
          <th style="text-align:center;" colspan="2">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <th><%= @contador += 1 rescue nil %></th>
            <td><%= user.name.titleize rescue nil %></td>
            <td style="text-align:center;"><%= verify_invited(user) rescue nil %></td>
            <td><%= user.format_phone rescue nil %></td>
            <td><%= confirmed_presence?(user) rescue nil %></td>
            <td style="text-align:center;"><%= user.tamanho_fralda rescue nil %></td>
            <td style="text-align: center;">
              <a href="https://api.whatsapp.com/send?1=pt_BR&amp;phone=+55<%= user.phone %>&amp;text=<%= user.message %>" target="_blank">
                <i class="fab fa-whatsapp" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Enviar Whatsapp"></i>
              </a>
            </td>
            <td style="text-align: center;">
              <%= link_to edit_user_path(user), class: 'btn btn-secondary btn-sm' do %>
                <i class="fa fa-edit"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-warning" role="alert">
      Não há convidados cadastrados.
    </div>
  <% end %>
</div>