<%= form_with(url: create_response_invitation_users_path, method: :post, remote: true) do |form| %>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
          <strong>Confirmar Presença</strong>
          </div>
          <div class="card-body">
            <form>
              <div class="mb-3 form-group">
                <%= form.label :name, "Nome", class: "form-label" %>
                <%= form.text_field :name, value: @user.name, class: "form-control", readonly:true %>
                <%= form.hidden_field :token, value: @user.token, class: "form-control" %>
              </div>
              <div class="mb-3 form-group">
                <%= form.label :phone, "Contato", class: "form-label" %>
                <%= form.text_field :phone, value: @user.format_phone, class: "form-control", readonly:true %>
              </div>

              <% if @user.send_qtd_expected == "Sim" %>
                <div class="mb-3 form-group">
                  <%= form.label :qtd_guest, "Quantidade de convidados (acima de 5 anos)", class: "form-label" %>
                  <%= form.number_field :qtd_guest, class: "form-control", placeholder:"Quantas pessoas incluindo você?", required:true %>
                </div>
              <% end %>

              <div class="mb-3 form-group d-flex justify-content-between">
                <%= form.submit "Eu vou", class: "btn btn-success btn-sm flex-grow-1 me-2", data: { disable_with: "Confirmando presença..." } %>
                <%= form.submit "Não posso ir", class: "btn btn-danger btn-sm flex-grow-1 ms-2", data: { confirm: "Tem certeza que não pode ir?" } %>
              </div>

              <div class="mb-3 form-group text-center">
                <%= link_to 'Cancelar', root_path, class: 'btn btn-secondary' %>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>