<!DOCTYPE html>
<html>
  <head>
    <title>Convite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>  
  </head>

  <body>
    <div class="d-flex h-100 align-items-center justify-content-center row bg">
      <main class="col-11 col-md-10 col-lg-8 shadow-lg p-5 mb-5 mycolor rounded">
        <% if params[:action] != 'edit' and params[:action] != 'new' and params[:action] != 'create' and params[:action] != 'update' %>
          <nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <%= link_to root_path, class: 'nav-link' do %>
                    <i class="fa fa-home"></i> Início
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to users_path, class: 'nav-link' do %>
                    <i class="fas fa-list-alt"></i> Convidados
                  <% end %>
                </li>
              </ul>
            </div>
          </nav>
        <% end %>

        <% flash.each do |type, message| %>
          <div class="alert alert-<%= type == 'alert' ? 'danger' : 'success' %> alert-dismissible fade show mt-2" role="alert">
            <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
          </div>
        <% end %>

        <%= yield %>
      </main>
    </div>
  </body>
</html>

<style>
  .navbar {
    height: 80px;
  }

  .navbar-nav .nav-link {
    font-size: 18px;
    padding: 15px 20px;
  }

  .navbar-nav .nav-link i {
    font-size: 24px;
    margin-right: 8px;
  }

  .body {
    background-image: url('assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
</style>
